@model test_app.Models.TaskType

@{
    ViewData["Title"] = "Create";
}

<h1 class="form-title">Додати тип завдання</h1>

<div class="form-container">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="NormTime" class="form-label"></label>
            <input asp-for="NormTime" class="form-control" />
            <span asp-validation-for="NormTime" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="LaborCost" class="form-label"></label>
            <input asp-for="LaborCost" class="form-control" />
            <span asp-validation-for="LaborCost" class="text-danger"></span>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <a asp-action="Index" class="btn btn-secondary">Назад</a>
            <input type="submit" value="Створити" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}









@* <h1>Create</h1>

<h4>TaskType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NormTime" class="control-label"></label>
                <input asp-for="NormTime" class="form-control" />
                <span asp-validation-for="NormTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaborCost" class="control-label"></label>
                <input asp-for="LaborCost" class="form-control" />
                <span asp-validation-for="LaborCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@


